style
body {
    background: rgb(78, 19, 24);
    font-size: 15;
    color: antiquewhite;
  }
  p {
    font-style: italic;
    font-size: 15;
    color: antiquewhite;

  }  
  h1 {
    font-weight: bold;
    font-size: 30;
    color: antiquewhite;
    align-content: center;
  } 

  h1 {
    font-weight: bold;
    color: antiquewhite;
  }

  h2 {
    font-size: 14;
    color: antiquewhite;
  }
