
 

body {
   color:maroon; 
}

p {
    color: antiquewhite;
    font-weight: bold;
    font:100;
    font-size: small;
}

h1 {
    color: antiquewhite;
    font-weight: bolder;
    font-size: larger;
}
