body {
    background: rgb(78, 19, 24);
  }
  p {
    color: rgb(78, 19, 24);
    font-style: italic;

  }  
  h1 {
    font-weight: bold;
    font-size: 30;
    color: antiquewhite;
    align-content: center;
  } 

  h1 {
    font-weight: bold;
  }

  ol {
    font-size: 15;
    color: antiquewhite;
  }
